body{
    margin:0;
    padding:0;
    background:#DEDECC;
}
header{
    justify-content: center;
    font-size:7em;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.form{
    width:30%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    font-size:1.5em;
    text-align: center;
}
.button{
    font-size:1em;
    background-color: #2FAEE5;
    margin-left: 0.5em;
}
.field{
    font-size:1em;
}
.list div:hover{
    background-color: #B3B7B8;
    color:#F5210C;
    cursor: pointer;
}
.list{
    max-height: 6em;
    overflow-y: auto;
}